.icon-text-2 {
  background-color: var(--white);
  border-radius: 4px;
  height: 24px;
  min-width: 24px;
  position: relative;
}

.frame-5 {
  height: 16px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 16px;
}

