.badge {
  align-items: center;
  background-color: #e7e7e7;
  border-radius: 20px;
  display: flex;
  gap: 8px;
  mix-blend-mode: multiply;
  overflow: hidden;
  padding: 6px 12px;
  width: fit-content;
}

.frame-197 {
  align-items: center;
  display: flex;
  gap: 4px;
  width: fit-content;
}

.label {
  color: #7f7f7f;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  text-align: center;
  width: fit-content;
}

.xmark {
  color: #6d7175;
  font-family: var(--font-family-font_awesome_6_pro-solid);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: fit-content;
}

.badge.badge-1 {
  background-color: var(--mirage);
  left: 0;
  mix-blend-mode: unset;
  position: absolute;
  top: 928px;
}

.badge.badge-1 .label {
  color: var(--white);
  text-align: unset;
}

.badge.badge-1 .xmark {
  color: var(--white);
}

